## Local Visual Studio Code settings
# using spaces and tab equals 4 spaces
.vscode/settings.json

## Useless test code
repeat_paper_experiments/plot_vscode_test.jl
repeat_paper_experiments/test_julia.jl

## Figures
figures/*.txt
figures/*.pdf
!figures/lgstc_mushrooms-100-time.pdf

## Data
data/*
!available_datasets.txt
!data/housing.jld
!data/abalone.jld
!data/australian.jld
!data/leukemia.jld
!data/gauss-50-24-0.0_seed-1.jld
!data/diagints-24-0.0-100_seed-1.jld
!data/diagints-10-0.0-100_seed-1.jld
!data/diagalone-24-0.0-100_seed-1.jld

## Temporary codes for exploration
tmp/test_linreg.jl
tpm/test_open.jl

## Monitoring outputs
nohups/*
