## Local Visual Studio Code settings
# using spaces and tab equals 4 spaces
.vscode/settings.json

## Useless test code
repeat_paper_experiments/plot_vscode_test.jl
repeat_paper_experiments/test_julia.jl

## Figures
figures/*.txt
figures/*.pdf
!figures/lgstc_mushrooms-100-time.pdf

## Data
data/*
!data/housing.jld
!data/abalone.jld

## Temporary codes for exploration
tmp/test_linreg.jl
