## Local Visual Studio Code settings
# using spaces and tab equals 4 spaces
.vscode/settings.json

## Useless test code
repeat_paper_experiments/plot_vscode_test.jl
repeat_paper_experiments/test_julia.jl

## Figures
figures/*.txt
figures/*.pdf
!figures/lgstc_mushrooms-100-time.pdf

## Data
data/*
datasets.tar.gz
data/available_datasets.txt
!data/housing.jld
!data/abalone.jld
!data/australian.jld
!data/leukemia.jld
!data/gauss-50-24-0.0_seed-1.jld
!data/diagints-24-0.0-100_seed-1.jld
!data/diagints-10-0.0-100_seed-1.jld
!data/diagalone-24-0.0-100_seed-1.jld

## Temporary codes for exploration
tmp/test_linreg.jl
tpm/test_open.jl

## Monitoring outputs
nohups/*
outputs/*
figures/\.directory

\.directory
tmp/to_delete.jl
util/warmup.jl

experiments/Bubeck/*
experiments/free_leap_SVRG/*
experiments/Free_SVRG/*
experiments/L_SVRG_D/*
experiments/Leap_SVRG/*
experiments/SVRG/*
experiments/theory_practice_SVRG_arxiv/*

# Temporary files
experiments/theory_practice_SVRG/*
retrieve_from_lame23.sh
sync_to_lame23.sh
list_exp_commands_lame23.txt
